<div class="wrapper">
    <!-- Sidebar -->
    <aside id="sidebar">
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="#">Meditrack</a>
            </div>
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-grid"></i>
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="" asp-controller="Home" asp-action="Profile">
                        <i class="bi bi-person"></i>
                        Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                       aria-expanded="false" aria-controls="pages">
                        <i class="fa-regular fa-file-lines pe-2"></i>
                        Management
                    </a>
                    <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area=" " asp-controller="Home" asp-action="ManageUserAccount">User Account</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Vendor</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Product</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-check2-square"></i>
                        Transactions
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-database"></i>
                        Inventory
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-bell"></i>
                        Notifications
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-list-task"></i>
                        Reports
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-hand-thumbs-up"></i>
                        Feedback
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-hand-thumbs-up"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- Main Component -->

    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <!-- Button for sidebar toggle -->
            <button class="btn" type="button" data-bs-theme="dark">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">

                    <!--Main Content-->
                    <header>
                        <nav class="navbar navbar-expand-sm">
                            <div class="container-fluid">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="sidebar-link" asp-area=" " asp-controller="Home" asp-action="ManageUserAccount">Users</a>
                                        </li>
                                        <div class="vr"></div>
                                        <li class="nav-item">
                                            <a class="sidebar-link" asp-area=" " asp-controller="Home" asp-action="ManageUserGroup">User Group</a>
                                        </li>
                                        <div class="vr"></div>
                                        <li class="nav-item">
                                            <a class="sidebar-link" asp-area=" " asp-controller="Home" asp-action="AddNewUserAccount">Add New User</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </header>


                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- Profile Picture (Placeholder, replace with actual image source) -->
                                <img src="https://via.placeholder.com/150" alt="Profile Picture" class="img-fluid rounded-circle">
                                <div class="mt-3">
                                    <!-- Update Role Info -->
                                    <h5>Choose Role:</h5>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>Admin</option>
                                            <option>Inventory Officer</option>
                                            <option>Approver</option>
                                            <option>Viewer</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <!-- Update Information Description -->
                                <h3 class="mb-4">Add New User Account</h3>
                                <form>
                                    <!-- User Info to be Updated -->
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="firstname">Firstname:</label>
                                            <input type="text" class="form-control" id="firstname" placeholder="Enter Firstname">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname">Lastname:</label>
                                            <input type="text" class="form-control" id="lastname" placeholder="Enter Lastname">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="contactNo">Contact No.:</label>
                                            <input type="text" class="form-control" id="contactNo" placeholder="Enter Contact No.">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" class="form-control" id="email" placeholder="Enter Email">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="birthDate">Birth Date:</label>
                                            <input type="date" class="form-control" id="birthDate">
                                        </div>
                                        <div class="form-group col-md-6 mt-3 mb-3">
                                            <label for="profilePicture">Upload Profile Picture:</label>
                                            <input type="file" class="form-control-file" id="profilePicture">
                                        </div>
                                        <div class="form-group">
                                            <label for="Location">Location:</label>
                                            <input type="text" class="form-control" id="Location" placeholder="Enter Location">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="username">Username:</label>
                                            <input type="text" class="form-control" id="username" placeholder="Enter Username">
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">Password:</label>
                                            <input type="password" class="form-control" id="Password" placeholder="Enter Password">
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary mt-4 form-control">Save</button>
                                        </div>
                                        <div class="col-6">
                                            <a asp-area="" asp-controller="Home" asp-action="ManageUserAccount" class="btn btn-outline-secondary border mt-4 form-control">Back</a>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <!--End of Content-->

                </div>
            </div>
        </main>
    </div>
</div>
