<div class="container mt-5">
    <h3>Add New Product Category</h3>
    <form>
        <div class="mb-3">
            <label for="categoryName" class="form-label">Category Name:</label>
            <input type="text" class="form-control" id="categoryName" name="categoryName" required>
        </div>
        <div class="mb-3">
            <label for="categoryDescription" class="form-label">Category Description:</label>
            <textarea class="form-control" id="categoryDescription" name="categoryDescription" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="totalQuantity" class="form-label">Total Quantity in Stock:</label>
            <input type="number" class="form-control" id="totalQuantity" name="totalQuantity" required>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary mt-4 form-control">Save</button>
            </div>
            <div class="col-6">
                <a asp-area="" asp-controller="Home" asp-action="ManageProduct" class="btn btn-outline-secondary border mt-4 form-control">Back</a>
            </div>
        </div>
    </form>
</div>