@model ProductCategory

<div class="container mt-5">
    <h3>Delete Product Category</h3>
    <form method="post">
        <div class="mb-3">
            <label asp-for="CategoryID" class="form-label">Category ID:</label>
            <input asp-for="CategoryID" disabled class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryName" class="form-label">Category Name:</label>
            <input asp-for="CategoryName" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="CategoryDescription" class="form-label">Category Description:</label>
            <input asp-for="CategoryDescription" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="TotalQuantityInStock" class="form-label" hidden>Total Quantity in Stock:</label>
            <input asp-for="TotalQuantityInStock" disabled class="form-control" hidden>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-danger mt-4 form-control">Delete</button>
            </div>
            <div class="col-6">
                <a asp-area="Admin" asp-controller="ProductCategory" asp-action="ManageProductCategory" class="btn btn-outline-secondary border mt-4 form-control">Back</a>
            </div>
        </div>
    </form>
</div>  