@model ProductCategoryVM

<div class="container mt-5">
    <h3>@(Model.ProductCategory.CategoryID != 0 ? "Update" : "Create") Product Category</h3>
    <form method="post">
        <div class="form-group">
            <input asp-for="ProductCategory.CategoryID" hidden />
        </div>
        <div class="mb-3">
            <label asp-for="ProductCategory.CategoryName" class="form-label">Category Name:</label>
            <input asp-for="ProductCategory.CategoryName" class="form-control" required>
        </div>
        <div class="mb-3">
            <label asp-for="ProductCategory.CategoryDescription" class="form-label">Category Description:</label>
            <input asp-for="ProductCategory.CategoryDescription" class="form-control" required>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary mt-4 form-control">Save</button>
            </div>
            <div class="col-6">
                <a asp-area="Admin" asp-controller="ProductCategory" asp-action="ManageProductCategory" class="btn btn-outline-secondary border mt-4 form-control">Back</a>
            </div>
        </div>
    </form>
</div>             