@model Location

<div class="container mt-5">
    <h3>Delete Location</h3>

    <div class="container">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Error"]
            </div>
        }
        <!-- Existing HTML for the view -->
    </div>

    <form method="post">
        <div class="mb-3">
            <label asp-for="LocationID" class="form-label" hidden>Location:</label>
            <input asp-for="LocationID" disabled class="form-control" hidden>
        </div>
        <div class="mb-3">
            <label asp-for="LocationType" class="form-label">Location Type:</label>
            <input asp-for="LocationType" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="LocationAddress" class="form-label">Location Address:</label>
            <input asp-for="LocationAddress" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="DateCreated" class="form-label">Date Created:</label>
            <input asp-for="DateCreated" disabled class="form-control" required>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-danger mt-4 form-control">Delete</button>
            </div>
            <div class="col-6">
                <a asp-area="Admin" asp-controller="Location" asp-action="ManageLocation" class="btn btn-outline-primary border mt-4 form-control">Back</a>
            </div>
        </div>
    </form>
</div>  