@model PRTransactionVM

<div class="container">
    <h3 class="my-4">Purchase Requisition</h3>
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <!-- Purchase Requisition Header Fields -->
                <div class="mb-3">
                    <label for="prID" class="form-label"></label>
                    <input id="prID" asp-for="PurchaseRequisitionHeader.PRHdrID" class="form-control" hidden />
                </div>
                <div class="mb-3">
                    <label for="supplierName" class="form-label">Supplier Name</label>
                    <input id="supplierName" asp-for="PurchaseRequisitionHeader.Supplier.SupplierName" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label for="locationAddress" class="form-label">Location Address</label>
                    <input id="locationAddress" asp-for="PurchaseRequisitionHeader.Location.LocationAddress" class="form-control" disabled />
                </div>   
                <div class="mb-3">
                    <label for="statusDescription" class="form-label">Status</label>
                    <input id="statusDescription" asp-for="PurchaseRequisitionHeader.Status.StatusDescription" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label for="prDate" class="form-label">PR Date</label>
                    <input id="prDate" asp-for="PurchaseRequisitionHeader.PRDate" class="form-control" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <!-- Additional Purchase Requisition Detail Fields -->              
                <div class="mb-3">
                    <div class="mb-3">
                        <input asp-for="PurchaseRequisitionDetail.PRDtlID" class="form-control"  hidden/>
                    </div>
                </div>
                <div class="mb-3">
                    <input asp-for="PurchaseRequisitionDetail.PRHdrID" class="form-control" readonly />
                </div>
                <div class="mb-3">
                    <label asp-for="PurchaseRequisitionDetail.Product">Product</label>
                    <select asp-for="PurchaseRequisitionDetail.ProductID" asp-items="@Model.ProductList" class="form-select">
                        <option disabled selected>--Select Product--</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="prID" class="form-label"></label>
                    <input id="prID" asp-for="PurchaseRequisitionHeader.PRHdrID" class="form-control" hidden />
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="PurchaseRequisitionDetail.UnitPrice">Unit Price:</label>
                        <input asp-for="PurchaseRequisitionDetail.UnitPrice" class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="PurchaseRequisitionDetail.UnitOfMeasurement">Unit Of Measurement:</label>
                        <input asp-for="PurchaseRequisitionDetail.UnitOfMeasurement" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PurchaseRequisitionDetail.QuantityInOrder">Quantity In Order:</label>
                    <input asp-for="PurchaseRequisitionDetail.QuantityInOrder" class="form-control">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary form-control">Save</button>
            </div>
            <div class="col-md-6">
                <a asp-area="InventoryOfficer" asp-controller="PRTransaction" asp-action="PRList" class="btn btn-outline-primary form-control">Back</a>
            </div>
        </div>
    </form>
</div>
