@model ProductVM
                      
<div class="container mt-5">
    <h3>@(Model.Product.ProductID != 0 ? "Update" : "Create") Product</h3>
    <form method="post">
        <div class="form-group">
            <input asp-for="Product.ProductID" hidden />
        </div>
        <div class="mb-3">
            <label asp-for="Product.CategoryID">Product Category</label>
            <select asp-for="@Model.Product.CategoryID" asp-items="@Model.ProductCategoryList" class="form-select" required>
                <option disabled selected>--Select Product Category--</option>
            </select>
            <span asp-validation-for="Product.CategoryID" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.ProductName" class="form-label">Product Name:</label>
            <input asp-for="Product.ProductName" class="form-control" required>
            <span asp-validation-for="Product.ProductName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.SKU" class="form-label">SKU:</label>
            <input asp-for="Product.SKU" class="form-control" required>
            <span asp-validation-for="Product.SKU" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Brand" class="form-label">Brand:</label>
            <input asp-for="Product.Brand" class="form-control" required>
            <span asp-validation-for="Product.Brand" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.ProductDescription" class="form-label">Product Description:</label>
            <textarea asp-for="Product.ProductDescription" class="form-control" rows="3" required></textarea>
            <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.UnitPrice" class="form-label">Unit Price:</label>
            <input asp-for="Product.UnitPrice" class="form-control" required>
            <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.UnitOfMeasurement" class="form-label">Unit of Measurement:</label>
            <input asp-for="Product.UnitOfMeasurement" class="form-control" required>
            <span asp-validation-for="Product.UnitOfMeasurement" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.QuantityInStock" class="form-label">Quantity in Stock:</label>
            <input asp-for="Product.QuantityInStock" class="form-control" type="number" disabled>
        </div>
        <div class="mb-3">
            <label for="operation" class="form-label">Operation:</label>
            <select name="operation" id="operation" class="form-select">
                <option value="Deposit">Deposit</option>
                <option value="Withdraw">Withdraw</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="quantityChange" class="form-label">Quantity Change:</label>
            <!-- Bind to the QuantityChange property of ProductVM -->
            <input type="number" id="quantityChange" name="QuantityChange" class="form-control" required>
            <span asp-validation-for="QuantityChange" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.ExpirationDate" class="form-label">Expiration Date:</label>
            <input asp-for="Product.ExpirationDate" class="form-control" required>
            <span asp-validation-for="Product.ExpirationDate" class="text-danger"></span>
        </div>      
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary mt-4 form-control">Save</button>
            </div>
            <div class="col-6">
                <a asp-area="InventoryOfficer" asp-controller="Product" asp-action="ManageProduct" class="btn btn-outline-primary border mt-4 form-control">Back</a>
            </div>
        </div>
    </form>
</div>
