@model UserGroup

<div class="container mt-5">
    <h2 class="mb-4">Edit User Group</h2>
    <form method="post">
        <div class="mb-3">
            <label asp-for="UserGroupID" class="form-label">User Group ID</label>
            <input asp-for="UserGroupID" class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label asp-for="UserGroupName" class="form-label">User Group Name</label>
            <input asp-for="UserGroupName" rows="3">
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary mt-4 form-control">Update</button>
            </div>
            <div class="col-6">
                <a asp-area="Admin" asp-controller="UserGroup" asp-action="ManageUserGroup" class="btn btn-outline-secondary border mt-4 form-control">Back</a>
            </div>
        </div>
    </form>
</div>