@model PRTransactionVM

<p>Created by: @Model.CreatedByUserId</p>

<div class="container">
    <h3 class="my-4">Purchase Order</h3>

    <form method="post" asp-controller="PRTransaction" asp-action="ViewPO" asp-area="Admin">
        <div class="row">
            <div class="col-md-6">
                <!-- Purchase Requisition Header Fields -->
                <div class="mb-3">
                    <input asp-for="PurchaseOrderHeader.POHdrID" class="form-control" hidden />
                </div>
                <div class="mb-3">
                    <label asp-for="PurchaseOrderHeader.Supplier.SupplierName">Supplier</label>
                    <input asp-for="PurchaseOrderHeader.Supplier.SupplierName" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label asp-for="PurchaseOrderHeader.Location.LocationAddress">Location</label>
                    <input asp-for="PurchaseOrderHeader.Location.LocationAddress" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label asp-for="PurchaseOrderHeader.Status.StatusDescription">Status</label>
                    <input asp-for="PurchaseRequisitionHeader.Status.StatusDescription" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label asp-for="PurchaseOrderHeader.PODate">PR Date</label>
                    <input asp-for="PurchaseOrderHeader.PODate" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label asp-for="PurchaseOrderHeader.TotalAmount">Total Amount</label>
                    <input asp-for="PurchaseOrderHeader.TotalAmount" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Additional Purchase Requisition Detail Fields -->
                <div class="mb-3">
                    <input asp-for="PurchaseOrderDetail.PODtlID" class="form-control" hidden />
                </div>
                <div class="mb-3">
                    <input asp-for="PurchaseOrderDetail.POHdrID" class="form-control" hidden />
                </div>
                <div class="mb-3">
                    <label asp-for="PurchaseOrderDetail.Product.ProductName">Product Name</label>
                    <input asp-for="PurchaseOrderDetail.Product.ProductName" class="form-control" readonly>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="PurchaseOrderDetail.UnitPrice">Unit Price</label>
                        <input asp-for="PurchaseOrderDetail.UnitPrice" class="form-control" id="unitPrice" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="PurchaseOrderDetail.UnitOfMeasurement">Unit Of Measurement</label>
                        <input asp-for="PurchaseOrderDetail.UnitOfMeasurement" class="form-control" id="unitOfMeasurement" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PurchaseOrderDetail.QuantityInOrder">Quantity In Order</label>
                    <input asp-for="PurchaseOrderDetail.QuantityInOrder" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="PurchaseOrderDetail.Subtotal">Subtotal</label>
                    <input asp-for="PurchaseOrderDetail.Subtotal" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <a asp-area="Admin" asp-controller="PRTransaction" asp-action="PODList" class="btn btn-outline-secondary">Back</a>
            </div>
        </div>
    </form>
</div>