@model Supplier

<div class="wrapper">
    <!-- Sidebar -->
    <aside id="sidebar">
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="#">Meditrack</a>
            </div>
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Inventory Officer" asp-controller="Home" asp-action="Dashboard">
                        <i class="bi bi-grid"></i>
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Inventory Officer" asp-controller="Home" asp-action="Profile">
                        <i class="bi bi-person"></i>
                        Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                       aria-expanded="false" aria-controls="pages">
                        <i class="fa-regular fa-file-lines pe-2"></i>
                        Management
                    </a>
                    <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Inventory Officer" asp-controller="User" asp-action="ManageUserAccount">User Account</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Inventory Officer" asp-controller="Supplier" asp-action="ManageVendor">Manage Supplier</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Inventory Officer" asp-controller="Product" asp-action="ManageProduct">Manage Product</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Inventory Officer" asp-controller="Home" asp-action="Transaction">
                        <i class="bi bi-check2-square"></i>
                        Transactions
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Inventory Officer" asp-controller="Home" asp-action="Inventory">
                        <i class="bi bi-database"></i>
                        Inventory
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Inventory Officer" asp-controller="Home" asp-action="Notification">
                        <i class="bi bi-bell"></i>
                        Notifications
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Inventory Officer" asp-controller="Home" asp-action="Report">
                        <i class="bi bi-list-task"></i>
                        Reports
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Inventory Officer" asp-controller="Home" asp-action="Feedback">
                        <i class="bi bi-hand-thumbs-up"></i>
                        Feedback
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Inventory Officer" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-box-arrow-right"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- Main Component -->

    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <!-- Button for sidebar toggle -->
            <button class="btn" type="button" data-bs-theme="light">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">

                    <!--Main Content-->


                    <div class="container mt-5">
                        <h3 class="mb-3">Edit Supplier</h3>
                        <form method="post">
                            <div class="mb-3">
                                <label asp-for="SupplierID" class="form-label">Supplier ID</label>
                                <input asp-for="SupplierID" class="form-control" readonly>
                            </div>
                            <div class="mb-3">
                                <label asp-for="LocationID" class="form-label">Location ID</label>
                                <input asp-for="LocationID" class="form-control" readonly>
                            </div>
                            <div class="mb-3">
                                <label asp-for="SupplierName" class="form-label">Supplier Name</label>
                                <input asp-for="SupplierName" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label asp-for="ContactPerson" class="form-label">Contact Person</label>
                                <input asp-for="ContactPerson" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label asp-for="ContactNumber" class="form-label">Contact Number</label>
                                <input asp-for="ContactNumber" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label asp-for="Email" class="form-label">Email</label>
                                <input asp-for="Email" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label asp-for="OfficeAddress" class="form-label">Office Address</label>
                                <input asp-for="OfficeAddress" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary mt-4 form-control">Update</button>
                                </div>
                                <div class="col-6">
                                    <a asp-area="Inventory Officer" asp-controller="Supplier" asp-action="ManageVendor" class="btn btn-outline-secondary border mt-4 form-control">Back</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!--End of Content-->

                </div>
            </div>
        </main>
    </div>
</div>
