@model SupplierVM

<div class="wrapper">
    <!-- Sidebar -->
    <aside id="sidebar">
        <div class="h-100">
            <div class="sidebar-logo">
                <a>Meditrack</a>
            </div>
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Home" asp-action="Dashboard>
                        <i class="bi bi-grid"></i>
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Home" asp-action="Profile">
                        <i class="bi bi-person"></i>
                        Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                       aria-expanded="false" aria-controls="pages">
                        <i class="fa-regular fa-file-lines pe-2"></i>
                        Management
                    </a>
                    <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Supplier" asp-action="ManageVendor">Manage Supplier</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="ProductCategory" asp-action="ManageProductCategory">Manage Product</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Home" asp-action="Transaction">
                        <i class="bi bi-check2-square"></i>
                        Transactions
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Home" asp-action="Notification">
                        <i class="bi bi-bell"></i>
                        Notifications
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Home" asp-action="Report">
                        <i class="bi bi-list-task"></i>
                        Reports
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Home" asp-action="Feedback">
                        <i class="bi bi-hand-thumbs-up"></i>
                        Feedback
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-box-arrow-right"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- Main Component -->

    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <!-- Button for sidebar toggle -->
            <button class="btn" type="button" data-bs-theme="light">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">

                    <!--Main Content-->


                    <div class="container mt-5">
                        <h3 class="mb-3">@(Model.Supplier.SupplierID != 0 ? "Update" : "Create") Supplier</h3>
                        <form method="post">
                            <div class="form-group">
                                <input asp-for="Supplier.SupplierID" hidden />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Supplier.LocationID">Location</label>
                                <select asp-for="@Model.Supplier.LocationID" asp-items="@Model.LocationList" class="form-select">
                                    <option disabled selected>--Select Location--</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Supplier.SupplierName" class="form-label">Supplier Name:</label>
                                <input asp-for="Supplier.SupplierName" class="form-control" placeholder="Enter Supplier Name" required>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Supplier.ContactPerson" class="form-label">Contact Person:</label>
                                <input asp-for="Supplier.ContactPerson" class="form-control" placeholder="Enter Contact Person" required>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Supplier.ContactNumber" class="form-label">Contact Number:</label>
                                <input asp-for="Supplier.ContactNumber" class="form-control" placeholder="Enter Contact Number" required>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Supplier.Email" class="form-label">Email:</label>
                                <input asp-for="Supplier.Email" class="form-control" placeholder="Enter Email" required>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Supplier.OfficeAddress" class="form-label">Office Address:</label>
                                <textarea asp-for="Supplier.OfficeAddress" class="form-control" rows="3" placeholder="Enter Office Address" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Supplier.DateCreated" class="form-label">Date Created:</label>
                                <input asp-for="Supplier.DateCreated" class="form-control" rows="3">
                            </div>
                            <div class="mb-3">
                                <label asp-for="Supplier.isActive" class="form-label">Is Active:</label>
                                <input asp-for="Supplier.isActive" class=" form-control-file">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary mt-4 form-control">Save</button>
                                </div>
                                <div class="col-6">
                                    <a asp-area="InventoryOfficer" asp-controller="Supplier" asp-action="ManageVendor" class="btn btn-outline-secondary border mt-4 form-control">Back</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!--End of Content-->

                </div>
            </div>
        </main>
    </div>
</div>
