@model Supplier

<div class="container mt-5">
    <h3 class="mb-3">Delete Supplier</h3>
    <form method="post">
        <div class="mb-3">
            <label asp-for="SupplierID" class="form-label">Supplier ID</label>
            <input asp-for="SupplierID" disabled class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label asp-for="LocationID" class="form-label">Location ID</label>
            <input asp-for="LocationID" disabled class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label asp-for="SupplierName" class="form-label">Supplier Name</label>
            <input asp-for="SupplierName" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="ContactPerson" class="form-label">Contact Person</label>
            <input asp-for="ContactPerson" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="ContactNumber" class="form-label">Contact Number</label>
            <input asp-for="ContactNumber" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="OfficeAddress" class="form-label">Office Address</label>
            <input asp-for="OfficeAddress" disabled class="form-control">
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-danger mt-4 form-control">Delete</button>
            </div>
            <div class="col-6">
                <a asp-area="" asp-controller="Supplier" asp-action="ManageVendor" class="btn btn-outline-secondary border mt-4 form-control">Back</a>
            </div>
        </div>
    </form>
</div>

<!--End of Content-->