@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}
@if (User.IsInRole(StaticDetails.Role_Admin))
    {
        <h1>Manage your account</h1>
    }
@if (User.IsInRole(StaticDetails.Role_InventoryOfficer) ||
   User.IsInRole(StaticDetails.Role_Approver) ||
   User.IsInRole(StaticDetails.Role_Viewer))
    {
        <h1>Account Details</h1>
    }
<div>
    @if (User.IsInRole(StaticDetails.Role_Admin))
    {
        <h2>Change your account settings</h2>
    }
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
