<!--Main Content-->
<div class="row mt-5">
    <div class="col-6">
        <h3>Manage User</h3>
    </div>
    <div class="col-6">
        <a class="btn btn-primary border form-control" id="register" asp-area="Identity" asp-page="/Account/Register">Add New User Account</a>
    </div>
</div>

<div class="mt-5">
    <div class="table-responsive table-bordered table-striped">
        <table id="tblData" class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Birth Date</th>
                    <th>Registration Date</th>
                    <th>LastLogin Time/Date</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <a class="sidebar-link" asp-area="Admin" asp-controller="Home" asp-action="Dashboard">Back</a>
    </div>
</div>
<!--End of Content-->

@section Scripts{
    <script src="~/js/user.js"></script>
}