<!--Main Content-->
<header>
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="sidebar-link" asp-area="Admin" asp-controller="ProductCategory" asp-action="ManageProductCategory">Manage Product Category</a>
                    </li>
                    <div class="vr"></div>
                    <li class="nav-item">
                        <a class="nav-link">Manage Users</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="row">
    <div class="col-6">
        <a class="btn btn-primary border mt-2 form-control" id="register" asp-area="Identity" asp-page="/Account/Register">Add New User Account</a>
    </div>
    <div class="col-6">
        <a asp-area="Admin" asp-controller="ProductCategory" asp-action="AddNewProductCategory" class="btn btn-primary border mt-2 form-control">Add New Product Category</a>
    </div>
</div>

<div class="mt-5">
    <h3>User List</h3>
    <div class="table-responsive table-bordered table-striped">
        <table id="tblData" class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Birth Date</th>
                    <th>Registration Date</th>
                    <th>LastLogin Time/Date</th>
                    <th>Role</th>
                    <th>Is Active</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!--End of Content-->

@section Scripts{
    <script src="~/js/user.js"></script>
}