@model PurchaseRequisitionDetailVM

<div class="wrapper">
    <!-- Main Component -->
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <!-- Button for sidebar toggle -->
            <button class="btn" type="button" data-bs-theme="light">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">

                    <div class="container">
                        <h1 class="my-4">@(Model.PurchaseRequisitionDetail.PRDtlID != 0 ? "Update" : "Create") Purchase Requisition Detail</h1>
                        <form method="post">
                            <div class="form-group">
                                <input asp-for="PurchaseRequisitionDetail.PRDtlID" hidden />
                            </div>
                            <div class="form-group">
                                <label asp-for="PurchaseRequisitionDetail.PRHdrID">PRHdrID:</label>
                                <select asp-for="PurchaseRequisitionDetail.PRHdrID" asp-items="@Model.HeaderIdList" class="form-select">
                                    <option disabled selected>--Select Purchase Requisition Header--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="PurchaseRequisitionDetail.ProductID">Product</label>
                                <select asp-for="@Model.PurchaseRequisitionDetail.ProductID" asp-items="@Model.ProductList" class="form-select">
                                    <option disabled selected>--Select Product--</option>
                                </select>

                            </div>                    
                            <div class="form-row">
                                <div class="form-group">
                                    <label asp-for="PurchaseRequisitionDetail.UnitPrice">Unit Price:</label>
                                    <input asp-for="PurchaseRequisitionDetail.UnitPrice" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label asp-for="PurchaseRequisitionDetail.UnitOfMeasurement">Unit Of Measurement:</label>
                                    <input asp-for="PurchaseRequisitionDetail.UnitOfMeasurement" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label asp-for="PurchaseRequisitionDetail.QuantityInOrder">Quantity In Order:</label>
                                    <input asp-for="PurchaseRequisitionDetail.QuantityInOrder" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary mt-4 form-control">Save</button>
                                </div>
                                <div class="col-6">
                                    <a asp-area="Admin" asp-controller="PurchaseRequisition" asp-action="ManagePurchaseRequisitionDetail" class="btn btn-outline-secondary border mt-4 form-control">Back</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>