@model List<Product>

<!--Main Content-->
<header>
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="sidebar-link" asp-area="Admin" asp-controller="ProductCategory" asp-action="ManageProductCategory">Manage Product Category</a>
                    </li>
                    <div class="vr"></div>
                    <li class="nav-item">
                        <a class="nav-link">Manage Product</a>
                    </li>                            
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="row">
    <div class="col-6">
        <a asp-area="Admin" asp-controller="Product" asp-action="UpsertProduct" class="btn btn-primary mt-2 form-control">Add New Product</a>
    </div>
    <div class="col-6">
        <a asp-area="Admin" asp-controller="ProductCategory" asp-action="UpsertProductCategory" class="btn btn-primary border mt-2 form-control">Add New Product Category</a>
    </div>
</div>

@if (TempData["ProductSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["ProductSuccess"]
    </div>
}
<div class="col-md-6">
    <a asp-area="Admin" asp-controller="Home" asp-action="Dashboard" class="btn btn-outline-primary">Back</a>
</div>
<div class="mt-5">
    <h3>Inventory List</h3>
    <div class="table-responsive table-bordered table-striped" style="width:100%">
        <table id="tblData" class="table">
            <thead>
                <tr>
                    @* <th>ProductID</th> *@
                    <th>Category</th>
                    <th>Product Name</th>
                    <th>SKU</th>
                    <th>Brand</th>
                    <th>Product Description</th>
                    <th>Unit Price</th>
                    <th>Unit Of Measurement</th>
                    <th>Quantity In Stock</th>
                    <th>Expiration Date</th>
                    <th>LastUnit Price Updated</th>
                    <th>Last Quantity In Stock Updated</th>
                </tr>
            </thead>         
        </table>
    </div>
</div>
<!--End of Content-->
                
@section Scripts{
    <script src="~/js/product.js"></script>
}